@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.max-container {
    @apply mx-auto max-w-[1440px];
}

.multiverse-text {
    background: linear-gradient(268.81deg, #3858FF 28.07%, #B745FF 74.52%, #D940FF 101.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.rounded-gradient-border {
    background: linear-gradient(268.81deg, #3858FF 28.07%, #B745FF 74.52%, #D940FF 101.17%);
    width: fit-content;
}

.mid:hover {
    @apply rounded-gradient-border;

}


.multiverse-text2 {
    background: linear-gradient(268.81deg, #3858FF 28.07%, #B745FF 74.52%, #D940FF 101.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.multiverse-text2:hover {
    color: black;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    background-clip: text;
    text-fill-color: white;
}

.marquee {
    display: flex;
    margin: 0 auto;
    width: 1150px;
    overflow: hidden;
    user-select: none;
}


.marqueeGroup {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    width: max-content;
    justify-content: start;
    animation: scrollX 25s linear infinite;

}

.marqueeGroupSec {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    width: max-content;
    justify-content: start;
    animation: scrollY 35s linear infinite;

}

.imageGroup1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 20px;
}

.imageGroupInd {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 20px;
}

.imaGe {
    /* object-fit: inherit; */
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 4/3;
}

.imaGe100 {
    /* object-fit: inherit; */
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 4/3;
}

.imaGeInd {
    /* object-fit: inherit; */
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    /* aspect-ratio: 1/1; */
}




@keyframes scrollX {
    from {
        left: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

@keyframes scrollY {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


/* Preloader.css */
/* CoolPreloader.css */
.cool-preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #fff, #9fc7e2, #d49aeb);
    /* Gradient background */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cool-preloader {
    border: 8px solid #fff;
    /* Blue border */
    border-top: 8px solid blueviolet;
    /* Orange border for animation */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    /* Rotation animation */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    /* White shadow for contrast */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: blue;
    font-weight: 700;
    /* Text color */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}

.loading-text span {
    opacity: 0;
    animation: appear 1s ease-out forwards;
    margin: 0 2px;
}



@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loading-text span:nth-child(1) {
    animation-delay: 0.1s;
}

.loading-text span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
    animation-delay: 0.3s;
}

.loading-text span:nth-child(4) {
    animation-delay: 0.4s;
}

.loading-text span:nth-child(5) {
    animation-delay: 0.5s;
}

.loading-text span:nth-child(6) {
    animation-delay: 0.6s;
}

.loading-text span:nth-child(7) {
    animation-delay: 0.7s;
}

.loading-text span:nth-child(7) {
    animation-delay: 0.7s;
}

.loading-text span:nth-child(9) {
    animation-delay: 0.9s;
}

.loading-text span:nth-child(10) {
    animation-delay: 1.1s;
}

.loading-text span:nth-child(11) {
    animation-delay: 1.2s;
}

.loading-text span:nth-child(12) {
    animation-delay: 1.3s;
}

.loading-text span:nth-child(13) {
    animation-delay: 1.4s;
}

.loading-text span:nth-child(14) {
    animation-delay: 1.5s;
}

.loading-text span:nth-child(15) {
    animation-delay: 1.6s;
}

.formSec {
    background-image: url('./assets/images/ShowBg.png');
    background-size: 110%;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.numbersBg {
    background: linear-gradient(273.1deg, rgba(56, 88, 255, 0.4) 2.57%, rgba(183, 69, 255, 0.4) 62.85%, rgba(217, 64, 255, 0.4) 97.43%);
}

.transition-scale {
    animation: scaleX 0.5s linear;
}

@keyframes scaleX {
    from {
        transform: rotateY(90deg) rotateZ(25deg) scale(0.5);
    }

    to {
        transform: rotateY(0) rotateZ(0) scale(1);
    }
}

.button-volume {
    position: absolute;
    bottom: -120px;
    right: 20px;
}

@media (max-width: 767px) {
    .button-volume {
        position: absolute;
        left: 320px;
        top: 205px;
    }
}

@media (min-width: 768px) and (max-width: 1020px) {
    .button-volume {
        position: absolute;
        right: 20px;
        top: 440px;
    }
}

@media (max-width:768px) {
    .formSec {
        background-image: url('./assets/images/ShowBg-mobile.png');
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
    }
}

.submitBtn {
    background: linear-gradient(to right, rgba(56, 88, 255, 1), rgba(183, 69, 255, 1), rgba(217, 64, 255, 1));
    color: white;
}

.submitBtn:hover {
    background: black;
    color: white;
}


@media (max-width: 768px) {
    .wrapper {
        padding: 20px 110px;

    }

    .marquee {
        width: 90%;
        margin-right: 5%;
        margin-top: 25px;
    }

    .marquee2 {
        width: 90%;
        margin-right: 5%;
    }

    /* .marqueeGroup {
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        width: 200%;
        justify-content: start;
        animation: scrollX 10s linear infinite;

    } */


    .marqueeGroup2 {
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        width: 0%;
        justify-content: center;
        /* animation: scrollX 10s linear infinite; */

    }


    .imageGroup1 {
        width: 100%;
        padding: 0px;
        margin: 0 10px;
    }

    .imageGroupInd {
        width: 100%;
        padding: 0px;
        margin: 0 -21px;
    }


    .imageGroup2 {
        width: 10%;
        /* margin: 0 -30px; */
    }

    .imaGe {
        width: 80%;
    }

    .imaGe100 {
        width: 100%;
    }

    .imaGeInd {
        width: 80%;

    }

    .imaGe2 {
        width: 10px;
        padding: 3px 0;
        margin-right: 0px;
    }

    .imaGe3 {
        aspect-ratio: unset;
        height: auto;
    }

    .largerImage {
        width: 100px;
        height: auto;
    }

}

.animateDot {
    animation: scrollDot 0.8s ease-in-out;
    display: inline-block;
    /* Ensures transform-origin works correctly */
}

@keyframes scrollDot {
    from {
        transform-origin: left;
        transform: scaleX(0);
    }

    to {
        transform-origin: left;
        transform: scaleX(1);
    }
}

.animateTest {
    animation: scrollTest 0.8s ease-in-out;
}

.animateTest2 {
    animation: scrollTest2 0.8s ease-in-out;
}

.animateTest3 {
    animation: scrollTest3 0.8s ease-in-out;
}

@keyframes scrollTest {
    from {
        /* transform-origin: left; */
        opacity: 0.2;
        transform: translateX(30%);
        /* transform: scaleX(0.5); */
    }

    to {
        /* transform-origin: left; */
        opacity: 1;
        /* transform: scaleX(1); */
        transform: translateX(0%);
    }
}

@keyframes scrollTest2 {
    from {
        /* transform-origin: left; */
        opacity: 0.2;
        transform: translateX(30%);
        /* transform: scaleX(0.5); */
    }

    to {
        /* transform-origin: left; */
        opacity: 1;
        /* transform: scaleX(1); */
        transform: translateX(0%);
    }
}

@keyframes scrollTest3 {
    from {
        /* transform-origin: left; */
        opacity: 0.2;
        transform: translateX(30%);
        /* transform: scaleX(1); */
        scale: 0.8;
    }

    to {
        /* transform-origin: left; */
        opacity: 1;
        /* transform: scaleX(0.7); */
        scale: 1;
        transform: translateX(0%);
    }
}

.testimonial {

    filter: blur(1px);
    scale: 1;
    /* @apply animateTest; */

}

.testimonial:nth-child(2) {
    filter: blur(0px);
    border: 1px solid #D940FF;
    @apply animateTest3;

}

.testimonial:nth-child(1) {

    border: 1px solid #000;
    scale: 0.9;
    @apply animateTest2;

}

.testimonial:nth-child(3) {

    border: 1px solid #000;
    scale: 0.9;
    @apply animateTest;
}





@media (max-width: 767px) {
    .testimonial {
        width: 100%;
        margin: 0;
        display: none;
    }

    .testimonial:nth-child(2) {
        display: block;
        transform: translateX(0);
    }
}

/* .whatsapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .whatsapp-icon {
    margin-right: 5px;
  } */

.multiverse-text3 {
    background: linear-gradient(268.81deg, #3858FF 28.07%, #B745FF 74.52%, #D940FF 101.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 1.8px solid #D940ff;
    text-fill-color: transparent;
    /* text-decoration: underline 1px #3858FF !important; */


}

.multiverse-text4 {
    background: linear-gradient(268.81deg, #3858FF 28.07%, #B745FF 74.52%, #D940FF 101.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 1.8px solid #D940ff;
    text-fill-color: transparent;
}



.multiverse-text4:hover {
    background: black;
    -webkit-background-clip: black;
    -webkit-text-fill-color: white;
    background-clip: black;
    border-bottom: 1.8px solid #D940ff;
    text-fill-color: white;
}